*{
  margin: 0;
  padding: 0;
  background-color: rgb(1, 22, 39);
}
.home{
  padding: 30px;
}
.home h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  color: rgb(255, 73, 13);
}
img{
  width: 50%;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 7px;
 
}
.home p{
  padding: 10px;
  text-align: center;
  color: rgb(255, 252, 232);
}
.gallery img{
  border-radius: 20px;
  padding: 20px;
  justify-content: left;
  width: 30%;
  height: 30vh;
}
/*.menu img{
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  justify-items: right;
  width: 30%;
  height: 30vh;
}*/
.gallery h2{
  color: rgb(255, 252, 232);
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
}
.menu{
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
 h2{
  color: rgb(255, 252, 232);
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
}
 ul li a{
  display: flex;
 
  justify-content: space-between;
  color: rgb(44, 110, 73);
}